body {
	max-width: 600px;
	margin: auto;
	text-align: center;
}

canvas {
	border: 1px dotted #BBB;
	margin: auto;
	display: block;
}

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D8D8DD;
	margin: 0;
	margin: auto;
}

#input_json {
	max-width: 600px;
	margin: 0;
	padding: 0;
	background-color: #f7f7ff;
	border: 1px solid #D8D8DD;
}

#exemple {
	margin: 0;
	margin-bottom: 1em;
}

h2, h1 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f0f0ff;
	border: 1px solid #D8D8DD;
}
	
pre {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: left;
	background-color: #EEE;
	border: 1px solid #D8D8DD;
}

button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d')", #FFFFFF, #b9b9b9));
  -ms-filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorStr='%d', EndColorStr='%d')", #FFFFFF, #b9b9b9));
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#b9b9b9));
	background: -webkit-linear-gradient(top, #FFFFFF, #b9b9b9 100%);
	background: -moz-linear-gradient(top,  #FFFFFF,  #b9b9b9);
	background: -o-linear-gradient(top, #FFFFFF, #b9b9b9 100%);
	background: linear-gradient(top, #FFFFFF, #b9b9b9 100%);
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	display: inline-block;
	font-weight:bold;
	padding: 5px 10px 6px 10px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.5);
	cursor: pointer;
}

button:hover {
	background:rgba(240,240,240,1);
}

input {
	padding: 5px 2px 6px 2px;
	border: 1px inset #999;
	cursor: text;
	background-color: white;
	outline: none;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	-webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	margin-left: 0.2em;
}

p {
	margin: 0.1em;
	padding: 0.1em;
}

#error {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(230,0,0,0.2);
	border: 1px solid #DD0000;
	padding: 0.3em;
	visibility: hidden;
}

#div_time {
	margin-top: 0.4em;
	background-color: #EEE;
	border: 1px solid #D8D8DD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: right;
}

#div_time h4 {
	text-align: center;
	margin-top: 0em;
	margin-bottom: 0.2em;
}